$paddingRightAndAfterWidth: 36px;


.section__about {
    background-image: url("/static/felix-berger-blurred.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

        .block--about-wrapper {
            display: flex;
            justify-content: center;
            .block--about {
                width: 62%;
                height: 100%;
                background-color: $cosmic;
                padding-right: $paddingRightAndAfterWidth;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: skewX(12deg);
                @include boxShadowOuter;
                // display: none;
                // @include anima-openUp($runtime: 300ms);
                &::after {
                    content: '';
                    background-color: $fire;
                    position: absolute;
                    transform: skewX(0deg);
                    width: $paddingRightAndAfterWidth;
                    height: 100%;
                    right: 0;
                    top: 0;
                }
                p {
                    text-align: center;
                    padding: 20px;
                    font-size: 2.4rem;
                    transform: skewX(-12deg);
                    // @include anima-fadeIn($runtime: 900ms);
                }
            }
        }

}


