

.section__admin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .block--link-icon {
        margin: 0 15px;
        @include textIconLinkGlow($transTime: 800ms, $colorOne: $fire, $colorTwo: $black);
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: $white;
            .link-icon {
                font-size: 12rem;
                color: $fire;
            }
        }
    }
}

