






.section__skills {
    // background-size: cover;
    // background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    // .block__skill-icons {
    //     display: grid;
    //     grid-template-columns: repeat(7, auto);
    //     grid-column-gap: 25px;
    //     grid-row-gap: 25px;
    //     grid-auto-flow: row dense;
    //     width: 100%;
    //     margin: 25px auto;
    //     padding: 25px;
    //     @media #{$mobile} {
    //         grid-column-gap: 10px;
    //         grid-row-gap: 10px;
    //     }
    //     .icon--skills svg {
    //         font-size: 2rem;
    //     }        
    // }
    .block__skills-bottom {
        z-index: 20;
        width: 100%;
        top: 60vh;
        position: relative;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        p.p__text-block {
            width: 800px;
        }
        .block__level {
            width: 100vw;
            // height: 100%;
            padding: 20px 0;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .block__level.tint {
            &:after {
                content: '';
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 1;
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                z-index: -2;
            }
        }
        // .block__slanted {
        //     &:before {
        //         content: '';
        //         background-color: darkred;
        //         height: 20px;
        //         width: 100vw;
        //         transform: rotate(0deg) skew(0deg) translate(0, 20px);
        //         display: block;
        //         position: fixed;
        //         bottom: 0px;
        //     }
        // }
    }
}








