






.section__skills {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    .main__skills-body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        top: 20vh;
        .block__skills-bottom {
            z-index: 20;
            width: 100%;
            bottom: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            p.p__text-block {
                width: 100%;
            }
            .block__level {
                width: calc(100% - 20px);
                max-width: 800px;
                padding: 20px 0;
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: left;
                padding: 20px 50px;
                h2 {
                    text-align: left;
                    width: 100%;
                }
            }
            .block__level.tint {
                &:after {
                    content: '';
                    background: linear-gradient(177deg, rgba($black, 0) 15%, rgba($black, 0.9) 97%);
                    width: 100%;
                    height: 100%;
                    top: 0;
                    position: absolute;
                    z-index: -2;
                }
            }
        }
    }
}




