


button, button.button, .button {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: $title-font;
    text-transform: uppercase;
    text-decoration: none;
    
    padding: 10px 25px;
    
    border: none;
    border-radius: 0;
    
    color: $glow;
    background: linear-gradient(
        -45deg,
        $ember 0 calc(50% - 5px),
        $glow calc(50% - 5px) calc(50% + 5px),
        $fire calc(50% + 5px) 100%
    );
    background-size: 250% 100%;
    background-position: 100% 50%;
    
    transition: 0.5s all;

    &:hover, &:focus {
        color: $white;
        background-position: 0% 50%;
        transition: 0.5s all;
        cursor: pointer;
    }
}

