

input {
    font-family: $body-font;
    font-size: 1.6rem;
    padding: 10px 15px;
    outline: none;
    height: 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid $mirage;
}

textarea {
    font-family: $body-font;
    font-size: 1.6rem;
    padding: 10px 15px;
    margin: 10px 0 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid $mirage;
}

select {
    font-family: $body-font;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid $mirage;
}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}