// Variables
$heightTrans: height ease-in-out 800ms, filter ease-in 800ms;
$fadeTrans: opacity ease-in-out 1800ms, filter ease-out 1250ms;
$fadeFastTrans: opacity ease-in-out 300ms, filter ease-out 300ms;

// Mixin
@mixin pageTransitionSettings($opacity: 0.8, $height: 100vh, $transition: $heightTrans, $filter: blur(12px), $background: $black) {
    transition: $transition;
    filter: $filter;
    -webkit-filter: $filter;
    &::after {
        width: 100vw;
        height: $height;
        top: 0; bottom: 0;
        left: 0; right: 0;
        position: absolute;
        background-color: $background;
        background-attachment: fixed;
        opacity: $opacity;
        filter: $filter;
        -webkit-filter: $filter;
        transition: $transition;
        content: "";
        z-index: 60;
    }
}

// /////////////////////   Slide   /////////////////////
.page-transition-slide-enter {
    @include pageTransitionSettings($opacity: 0.75, $height: 100vh, $transition: $heightTrans) }
.page-transition-slide-enter-active {
    @include pageTransitionSettings($opacity: 0.75, $height: 0vh, $filter: blur(0px), $transition: $heightTrans) }
.page-transition-slide-exit {
    @include pageTransitionSettings($opacity: 0.75, $height: 0vh, $filter: blur(0px), $transition: $heightTrans) }
.page-transition-slide-exit-active {
    @include pageTransitionSettings($opacity: 0.75, $height: 100vh, $filter: blur(4px), $transition: $heightTrans) }

// /////////////////////   Fade   /////////////////////
.page-transition-fade-enter { 
    @include pageTransitionSettings($opacity: 1, $height: 100vh, $transition: $fadeTrans) }
.page-transition-fade-enter-active { 
    @include pageTransitionSettings($opacity: 0, $height: 100vh, $filter: blur(0px), $transition: $fadeTrans) }
.page-transition-fade-exit { 
    @include pageTransitionSettings($opacity: 0, $height: 100vh, $filter: blur(0px), $transition: $fadeTrans) }
.page-transition-fade-exit-active {
    @include pageTransitionSettings($opacity: 1, $height: 100vh, $filter: blur(4px), $transition: $fadeTrans) }

    // /////////////////////   FadeFast   /////////////////////
.page-transition-fadefast-enter { 
    @include pageTransitionSettings($opacity: 1, $height: 100vh, $transition: $fadeFastTrans) }
.page-transition-fadefast-enter-active { 
    @include pageTransitionSettings($opacity: 0, $height: 100vh, $filter: blur(0px), $transition: $fadeFastTrans) }
.page-transition-fadefast-exit { 
    @include pageTransitionSettings($opacity: 0, $height: 100vh, $filter: blur(0px), $transition: $fadeFastTrans) }
.page-transition-fadefast-exit-active {
    @include pageTransitionSettings($opacity: 1, $height: 100vh, $filter: blur(4px), $transition: $fadeFastTrans) }


// None
.page-transition-none-enter { opacity: 1 }
.page-transition-none-enter-active { opacity: 1 }
.page-transition-none-enter-done { opacity: 1 }
.page-transition-none-exit { opacity: 1 }
.page-transition-none-exit-active { opacity: 1 }


