$white: #ffffff;
$black: #000000;

$mirage: #979797;
$ambient-grey: #3b3d44;
$silver-lining: #ededef;
$elansgrey: #eae6fa;
$franksgrey: #f9f8f9;
$snow-white: #fff;


// https://coolors.co/111111-33337f-cc282b-cccccc-eeeeee
$licorice: #111111;
$cosmic: #33337f;
$fire: #cc282b;
$ember: #d18485;
$pastegrey: #cccccc;
$isabelline: #eeeeee;


// Font color pointers
.cfont-licorice { color: $licorice } 
.cfont-cosmic { color: $cosmic } 
.cfont-fire { color: $fire } 
.cfont-ember { color: $ember } 
.cfont-pastegrey { color: $pastegrey } 
.cfont-isabelline { color: $isabelline } 


//media queries
$mobile: "only screen and (max-width:500px)";
$tablet: "only screen and (max-width:1200px)";
$tablet-small: "only screen and (max-width:800px)";
$tablet-short: "only screen and (max-height:550px)";
$desktop: "only screen and (min-width:1200px)";

