

.section__nav {
    width: 100%;
    padding: 25px 10px 10px 10px;
    position: absolute;
    z-index: 50;
    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            margin: 0 20px 20px 20px;
            padding: 0 10px;
            @include navLink();
            a {
                text-transform: lowercase;
                font-size: 1.2rem;
            }
            .link-icon {
                font-size: 2.4rem;
            }
        }
    }
}


.section__nav.route-index nav li {
    color: $ambient-grey;
}
.section__nav.route-projects nav li {
    color: $pastegrey;
}
.section__nav.route-skills nav li {
    color: $isabelline;
}
.section__nav.route-game nav li {
    color: $mirage;
}
.section__nav.route-unknown nav li {
    color: $silver-lining;
}

