






.section__dustbin {
    height: 300px;
    width: 60%;
    min-width: 300px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: $white;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    line-height: normal;
    float: left;
}





